/* === DARK MODE === */
body.dark {
    --bg: #121212;
    --paper: #1e1e1e;
    --card: #222;
    --element_bg: #1a1a1a;
    --alt_bg: #333;
    --text: #cacaca;
    --accent: #a3a54b;
    --muted: #aaa;
    --border: #333;
  }
  
  /* komponenttikohtaiset erot tarvittaessa */
  body.dark .header {
  border: 3px solid var(--border);
  background: linear-gradient(
    135deg,
    var(--paper),
    var(--element_bg)
  );
  box-shadow: var(--shadow-soft);
}
  body.dark .name-box h1 {
    background: var(--card);
    color: var(--text);
  }
  body.dark .project-card {
    background: var(--card);
    color: var(--text);
    box-shadow: var(--shadow-soft);
  }

  body.dark .header {
    border-color: var(--border);
  }
  
  body.dark .footer {
    background: linear-gradient(to right, #313131, #222, #313131);
    color: var(--text);
  }
  
  body.dark .theme-toggle {
    color: #111;
  }


    /* === BUTTON (Dark mode toggle) === */
    .theme-toggle {
        position: fixed;
        top: 15px;
        right: 15px;
        background: var(--alt_bg);
        color: var(--bg);
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 6px;
        font-size: 0.8rem;
        z-index: 999;
      }
      
      body.dark .theme-toggle {
        color: #111;
      }